<%= form_for(@user) do |f| %>
  <%= render 'common/error_messages', object: f.object %>

  <%= f.label :fullname %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <br>

  <%= f.label :website %>
  <%= f.text_field :website, class: 'form-control' %>
  
    <%= f.label :introduce %>
  <%= f.text_area :introduce, class: 'form-control' %>
  
  <%= f.label :telephone %>
  <%= f.text_field :telephone, class: 'form-control' %>
  <div id = "sex-radio_button">
  <label><%= f.radio_button :sex, 1 %> male </label>
  <label><%= f.radio_button :sex, 2 %> female </label>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% if current_user.admin?  %>
     If you delete myself  >> <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
<% end %>