<% provide(:title, 'search') %>
  <div class="col-md-8">
    <% if @microposts.any? %>
      <h3>Microposts (<%= @microposts.count %>)</h3>
      <%= will_paginate @microposts %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% else %>
    <h1>No posts</h1>
    <% end %>
  </div>
</div>