<% provide(:title, 'show') %>
<div class="row">
    <div class="col-md-8">
  <% if @microposts %>
    <ol class="microposts"><%= render @microposts %></ol>
  <% else %>
    <h1>No posts</h1>
  <% end %>
  </div>
</div>
</div>