<footer class="footer">
  <small>
    The <%= link_to "Instapp",    root_path %>
    by Takashi Seino
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>